.vscode/

# Frontend
frontend/app/node_modules/
frontend/app/package-lock.json
frontend/app/logs
frontend/app/*.log
frontend/app/npm-debug.log*
frontend/app/yarn-debug.log*
frontend/app/yarn-error.log*
frontend/app/pnpm-debug.log*
frontend/app/lerna-debug.log*
frontend/app/dist
frontend/app/dist-ssr
frontend/app/*.local
frontend/app/.vscode/*
frontend/app/!.vscode/extensions.json
frontend/app/.idea
frontend/app/.DS_Store
frontend/app/*.suo
frontend/app/*.ntvs*
frontend/app/*.njsproj
frontend/app/*.sln
frontend/app/.sw?
.DS_Store
# Backend
backend/node_modules/
backend/package-lock.json
